@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>About</h1>
<h2>Om Oss</h2>

<p>Välkommen till vår hemsida! Vi är [företagsnamn], en passionerad grupp som delar en gemensam kärlek för superhjältar och deras spännande värld. Vår vision är att skapa en plattform där superhjältar och deras fans kan mötas, interagera och dela sin entusiasm för dessa ikoniska karaktärer.</p>

<h3>Vårt Mål</h3>

<p>Vi strävar efter att erbjuda en rik och engagerande upplevelse för alla superhjälteentusiaster. Genom vår hemsida kan du upptäcka och utforska information om olika superhjältar, deras ursprungshistorier, superkrafter och äventyr. Vi är dedikerade till att tillhandahålla noggrann och intressant information som både underhåller och informerar.</p>

<h3>Vår Samling</h3>

<p>Vi har en omfattande samling av superhjältar och deras data. Genom att använda vårt sökverktyg kan du enkelt hitta information om din favoritkaraktär eller upptäcka nya hjältar att utforska. Du kan även bidra till vår samling genom att lägga till nya superhjältar och deras egenskaper.</p>

<h3>Bli Medlem</h3>

<p>Vi vill inbjuda dig att bli en del av vårt samhälle av superhjälteentusiaster. Genom att bli medlem får du tillgång till exklusiva funktioner som att spara dina favorithjältar, dela din egen samling och delta i diskussioner med andra medlemmar. Bli medlem idag och upplev allt som vår hemsida har att erbjuda!</p>

<h3>Kontakta Oss</h3>

<p>Om du har några frågor, feedback eller förslag, är du välkommen att kontakta oss. Vi är glada att höra från dig och strävar efter att förbättra vår plattform baserat på användarnas behov och önskemål.</p>

<p>Tack för att du besöker vår sida och vi hoppas att du får en fantastisk upplevelse här hos oss!</p>
