@{
    ViewData["Title"] = "Integritetspolicy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Denna integritetspolicy beskriver hur vi samlar in, använder och skyddar din personliga information när du använder vår webbplats. Vi värnar om din integritet och strävar efter att skydda dina personuppgifter på bästa möjliga sätt. Vi rekommenderar att du läser igenom denna policy noggrant.
</p>

    <h2> 1. Insamling av personlig information</h2>

<p>
    Vi kan komma att samla in personlig information från dig när du använder vår webbplats. Denna information kan inkludera, men är inte begränsad till, namn, e-postadress, postadress, telefonnummer och andra identifierande uppgifter. Vi samlar endast in den information som du frivilligt lämnar till oss.
</p>

    <h2> 2. Användning av personlig information</h2>

<p>
    Vi använder den personliga information som samlas in för att tillhandahålla och förbättra våra tjänster till dig. Vi kan använda informationen för att svara på dina förfrågningar, skicka relevant information och marknadsföring via e-post eller andra kommunikationskanaler, och för att analysera och förstå hur våra användare använder webbplatsen.
</p>

    <h2>3. Delning av personlig information</h2>

<p>Vi kommer inte att sälja, handla eller på annat sätt överföra din personliga information till tredje part utan ditt samtycke, förutom i de fall som krävs enligt lag. Vi kan emellertid dela din information med våra betrodda affärspartners och leverantörer som hjälper oss att driva vår webbplats och tillhandahålla våra tjänster.</p>
    

    <h2>4. Dataskydd</h2>

<p>
    Vi vidtar lämpliga tekniska och organisatoriska åtgärder för att skydda din personliga information från obehörig åtkomst, ändring, förlust eller annan otillbörlig behandling. Vi begränsar också åtkomsten till din personliga information till våra anställda och samarbetspartners som behöver denna information för att kunna utföra sina arbetsuppgifter.
</p>

    <h2>5. Cookies</h2>

<p>
    Vi kan använda cookies och liknande tekniker för att förbättra din användarupplevelse på vår webbplats. Cookies är små textfiler som lagras på din enhet när du besöker en webbplats. Du kan ställa in din webbläsare för att neka alla eller vissa typer av cookies. Observera dock att vissa funktioner på vår webbplats kan vara begränsade om du blockerar cookies.
</p>

    <h2>6. Ändringar av integritetspolicyn</h2>

    <p>Vi förbehåller oss rätten att ändra denna integritetspolicy när som helst. Eventuella ändringar kommer att publiceras på denna sida och träder i kraft omedelbart efter publicering. Vi rekommenderar att du regelbundet granskar denna integritetspolicy för att hålla dig uppdaterad om eventuella ändringar.

    Om du har några frågor om vår integritetspolicy eller hur</p>

<p> vi hanterar din personliga information, vänligen kontakta oss via de kontaktuppgifter som finns på vår webbplats.</p>
